<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>{{htmlWebpackPlugin.options.title}}</title>
  </head>

  <body>
    {{> header }}
    <main role="main">
      {{> welcome }}
      <div class="divider bag1"></div>
      {{> services }}
      <div class="divider bag2">
        <h1>General Tours and Specialized Tours</h1>
      </div>
      <div class="container">
        {{> tourhome }}
        {{> tourhomeleft }}

      </div>
      <!--
        Marketing messaging and featurettes
        ==================================================
      -->
      <!--
        Wrap the rest of the page in another container to center all the content.
      -->

      <div class="container marketing">

      </div>
      <!-- /.container -->

      <!-- FOOTER -->

    </main>

    <script src="https://www.gstatic.com/firebasejs/5.6.0/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyBR2LY-FXSpX-IuKErS1Qzr792kV_81g2s",
        authDomain: "triphavananow01.firebaseapp.com",
        databaseURL: "https://triphavananow01.firebaseio.com",
        projectId: "triphavananow01",
        storageBucket: "triphavananow01.appspot.com",
        messagingSenderId: "795114104964"
      };
      firebase.initializeApp(config);
    </script>
  </body>

</html>