<div class="container">
    <div class="row">
        <div class="col-lg-4 service">
            <h2>Accommodation</h2>
            <p>
                Take your first step towards a Cuban experience by staying at a “casa particular”, in Havana or
                anywhere else in the island. You can choose any area in Havana city, but top recommendation is Old
                Havana. Prices and further details are available upon request. Please contact us.
            </p>
            <p>
                <a class="btn btn-danger" href="#" role="button">View More</a>
            </p>
        </div>

        <div class="col-lg-4 service">
            <h2>Transportation</h2>
            <p>
                Whether you prefer classic or modern cars, we can arrange your transportation all around Cuba with
                professional drivers. Some of the most popular destinations are listed below. Feel free to contact us
                if you have any specific requests.
            </p>
            <p>
                <a class="btn btn-danger" href="#" role="button">View More</a>
            </p>
        </div>
        <div class="col-lg-4 service">
            <h2>Activities and Tours </h2>
            <p>
                Take your first step towards a Cuban experience by staying at a “casa particular”, in Havana or
                anywhere else in the island. You can choose any area in Havana city, but top recommendation is Old
                Havana. Prices and further details are available upon request. Please contact us.
            </p>
            <p>
                <a class="btn btn-danger" href="#" role="button">View More</a>
            </p>
        </div>
    </div>
</div>