<div class="row tour">
    <div class="col-md-6 my-auto">
        <div class="description">
                <h2>
                    Old Havana Walking Tour
                </h2>

                <p>
                    Old Havana offers visitors one of the finest collections of constructions in the Americas. Its
                    stunning
                    four squares, interconnected by narrow cobble streets, depicts a time of colonial glory. Behind the
                    buildings’ renovated facades, you will find plenty of museums, art galleries, cafes and shops. Do
                    not
                    miss
                    the opportunity to get a taste of Cuba at the Chocolate Museum, or a souvenir at the Scent Museum.
                </p>
                <a class="btn btn-secondary" href="#" role="button">Book</a>

        </div>
    </div>
    <div class="col-md-6">
        <img class="tour-image img-fluid mx-auto" src="./../public/tour1.jpg" alt="Generic placeholder image" />
    </div>
</div>