<div class="container">
    <div class="row">
        <div class="welcome xs-12">
            <h1>Welcome to our website and home!</h1>
            <p>
                Nowadays Cuba promises to be like nowhere else you have ever been: economically poor, architecturally
                splendid, and strangely inspiring. Learn our traditions, history and lifestyle while you become one of
                us. Forget all preconceived ideas and enjoy what the island and its people have to offer. </p>
            <p>Our business is part of the emerging Cuban private sector, and our staff is formed by a group of
                officially licensed freelance workers. We can book your accommodation, transportation and all kinds of
                activities, always with private suppliers. All of our services are specially designed to your interests
                and budget. </p>
            <p>Once you leave Cuba, we will provide you in our website with records of your trip should you ever need
                it. Login to find your detailed itinerary, pictures, etc. </p>
            </p>
        </div>
    </div>
</div>